{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'images/craft_icon.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/craft_icon.png' %}" type="image/x-icon">

    <link rel="stylesheet" type="text/css"  href="{% static 'CSS/styles1.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О компании</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="full-height">
<a href="{% url 'page_one' %}"><button>На главную</button></a>
<div class="company-info">
    <h2>О нас</h2>
    <p>Компания "Craft Electro" была основана в 2012 году и с тех пор предоставляет высококачественные услуги по монтажу электрооборудования  для различных отраслей промышленности.</p>

   <p>Наша миссия - предоставлять клиентам лучшие решения, сочетая в себе новейшие технологии и проверенные временем методы работы.</p>
</div>
</body>
</html>