{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css"  href="{% static 'CSS/styles1.css' %}">

    <meta charset="UTF-8">
    <title>Title</title>

<!--    <style>-->
<!--        body {-->
<!--            margin: 0;-->
<!--            padding: 0;-->
<!--            height: 100%;-->
<!--            background-image: url('{% static "craft_app/images/agpz_backgr.jpeg" %}');-->
<!--            background-size: cover;-->
<!--            background-repeat: no-repeat;-->
<!--            background-position: center center;-->
<!--        }-->
<!--    </style>-->
</head>
<body class="full-height">
    <header>
        <h1>ООО "Крафт-Электро"     8(812) 565-46-13</h1>
        <h2>                       info@craft-electro.ru</h2>
    </header>
    <!-- Кнопки для навигации -->
    <a href="{% url 'page_one' %}"><button>Главная</button></a>
    <a href="{% url 'page_two' %}"><button>О нас</button></a>
    <a href="{% url 'page_three' %}"><button>Контакты</button></a>

    <h2>Электромонтажные работы на объектах нефтедобычи и нефтепереработки</h2>

</body>
</html>
