{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/styles1.css' %}">

    <meta charset="UTF-8">
    <title>Title</title>

<!--    <style>-->
<!--        body {-->
<!--            margin: 0;-->
<!--            padding: 0;-->
<!--            height: 100%;-->
<!--            background-image: url('{% static "craft_app/images/agpz_backgr.jpeg" %}');-->
<!--            background-size: cover;-->
<!--            background-repeat: no-repeat;-->
<!--            background-position: center center;-->
<!--        }-->
<!--    </style>-->
</head>
<body>

    <!-- Кнопки для навигации -->
    <a href="{% url 'page_one' %}"><button>Home</button></a>
    <a href="{% url 'page_two' %}"><button>About</button></a>
    <a href="{% url 'page_three' %}"><button>Contact</button></a>

</body>
</html>
