
/* Глобальные стили для всей страницы */
body {
    font-family: Arial, sans-serif, Mont, Verdana, sans-serif;
    margin: 10px;
    padding: 10px;
    height: 100%;
    /*min-height: 100vh*/
    background-image: url('../images/agpz_backgr.jpeg');
    background-size: cover; /* это свойство растягивает изображение */
    background-repeat: no-repeat;
    background-position: center center;
}

/* Стили для кнопок */
button {
    padding: 10px 15px;
    border: none;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #18ffff;
    color: black;
}

/* Другие стили, например, для заголовков, ссылок и т.д. */
h1, h2, h3 {
    color: #2c3e50;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

.full-height {
            height: 90vh; /* 100% от высоты экрана */
            background-color: #f0f0f0; /* Цвет фона для наглядности */
        }
